<table class="responsive-table centered">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Group Members</th>
      <th>Project Type</th>
      <th>Representation</th>
      <th>Challenge</th>
      <th>Wow</th>
      <th>Total Score</th>
      <th>Demo Night Finals</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.group_members %></td>
      <td><%= project.project_type %></td>
      <td><%= project.average_representation %></td>
      <td><%= project.average_challenge %></td>
      <td><%= project.average_wow %></td>
      <td><%= project.average_total %></td>
      <td><i class="material-icons finals">
        <% if project.final_confirmation %>
          done
        <% else %>
          not_interested
        <% end %>
      </i></td>
      <td>
        <%= link_to "Edit", edit_admin_project_path(project), class: 'btn turing-btn' %>
        <%= button_to "Delete", admin_project_path(:id => project.id), :method => :delete, data: { confirm: "Are you sure?" },  class: 'btn turing-btn' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
