<table class="responsive-table">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Group Members</th>
      <th>Representation</th>
      <th>Challenge</th>
      <th>Wow</th>
      <th>Total Score</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.group_members %></td>
      <td><%= project.average_representation %></td>
      <td><%= project.average_challenge %></td>
      <td><%= project.average_wow %></td>
      <td><%= project.average_total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
