<h1><%= @demo_night.name %></h1>

<div class="admin-tools">
  <% if @demo_night.accepting_submissions? %>
    <%= link_to "Open voting!", admin_demo_night_path(@demo_night, demo_night: {status: :voting}), method: :patch %>
  <% elsif @demo_night.voting? %>
    <%= link_to "Close!", admin_demo_night_path(@demo_night, demo_night: {status: :closed}), method: :patch %>
  <% else %>
    <p>Closed</p>
  <% end %>
</div>

<div class="projects">
  <% if @demo_night.projects.count == 0 %>
    No Projects Yet!
  <% elsif @demo_night.votes.count == 0 %>
    <ul>
      <% @demo_night.projects.each do |project| %>
        <li>
        <%= link_to project.name, admin_project_path(project) %><%= link_to "Edit", edit_admin_project_path(project), class: 'waves-effect waves-light btn turing-btn' %><br>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render partial: 'vote_talley', locals: {projects: @demo_night.projects} %>
  <% end %>
</div>
