<ul id="dropdown1" class="dropdown-content">
  <% if current_admin? %>
    <li><%= link_to "Lightning Talks", admin_lightning_talks_path %></li>
    <% if !current_lightning_talk? %>
      <li><%= link_to "New Lightning Talk", new_admin_lightning_talk_path %></li>
    <% else %>
      <li><%= link_to "Current Projects", admin_lightning_talk_path(LightningTalk.current) %></li>
      <li><%= link_to "Live Scoreboard", admin_scoreboard_path %></li>
      <li><%= link_to "Rate Projects", projects_path %></li>
    <% end %>
  <% end %>
</ul>

<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo">LIGHTNING TALK!</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if current_admin? %>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Admin Panel<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
        <% if accepting_submissions? %>
          <li><%= link_to "New Project", new_project_path %></li>
        <% end %>
        <% if current_user && !current_admin? %>
          <% if accepting_submissions? %>
            <li><%= link_to "New Project", new_project_path %></li>
          <% end %>
          <% if current_lightning_talk? %>
            <li><%= link_to "Current Projects", projects_path %></li>
          <% end %>
        <% end %>
        <% if current_user %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= render partial: "shared/mobile_nav_items" %>
      </ul>
    </div>
  </div>
</nav>
