<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo">DEMO NIGHT!</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if current_admin? %>
          <li><%= link_to "Demo Nights", admin_demo_nights_path %></li>
          <li><%= link_to "New Demo Night", new_admin_demo_night_path %></li>
          <li><%= link_to "Current Projects", admin_projects_path %></li>
          <li><%= link_to "New Project", new_project_path %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
        <% if current_user && !current_admin? %>
          <% if accepting_submissions? %>
            <li><%= link_to "New Project", new_project_path %></li>
          <% end %>
          <% if current_demo_night? %>
            <li><%= link_to "Current Projects", projects_path %></li>
          <% end %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if current_admin? %>
          <li><%= link_to "Demo Nights", admin_demo_nights_path %></li>
          <li><%= link_to "New Demo Night", new_admin_demo_night_path %></li>
          <li><%= link_to "Current Projects", admin_projects_path %></li>
          <li><%= link_to "New Project", new_project_path %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
        <% if current_user && !current_admin? %>
          <% if accepting_submissions? %>
            <li><%= link_to "New Project", new_project_path %></li>
          <% end %>
          <% if current_demo_night? %>
            <li><%= link_to "Current Projects", projects_path %></li>
          <% end %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
