<h1 class="page-title">THE TALKS</h1>
<hr>

<div class="col s12">
  <p>Please select a cohort:</p>
</div>
<%= form_for(:cohort, html: {class: "cohortSelector"}) do |f| %>
  <div class="input-field col s12">
    <%= f.select(:name, ["All Talks", "BE Mod 2", "BE Mod 3", "BE Mod 4 Gear Up Topic", "FE Mod 2", "FE Mod 3", "FE Mod 4 Gear Up Topic"], selected: 3) %>
  </div>
<% end %>

<div class="col s12">
  <p>Please select a week:</p>
</div>
<%= form_for(:week, html: {class: "weekSelector"}) do |f| %>
  <div class="input-field col s12">
    <%= f.select(:name, ["All Weeks", "Week 2", "Week 3", "Week 4", "Week 5"], selected: 3) %>
  </div>
<% end %>



<div class="unvoted">
  <h2 class="page-title">Not Yet Rated</h2>
  <ul class="collection talks">
    <% @projects.unvoted_by_user(current_user.id).each do |project| %>
      <li class="collection-item avatar" data-cohort-name="<%= project.project_type %>" data-week="<%= project.week %>">
        <span class="title"><b>Topic:</b> <%= project.name%></span>
        <p><b>Student:</b> <%= project.group_members %></p>
        <p><b>Mod:</b> <%= project.project_type %></p>
        <p><b>Week:</b> <%= project.week %></p>
        <% if voting? %>
          <%= link_to "Rate", new_project_vote_path(project), class: "waves-effect waves-light btn turing-btn" %>
        <% end %>
        <% if owner_and_accepting(project.id) %>
          <%= link_to "Edit Talk", edit_project_path(project), class: "waves-effect waves-light btn turing-btn" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="voted">
  <h2 class="page-title">Already Rated</h2>
  <ul class="collection talks">
    <% @projects.voted_by_user(current_user.id).each do |project| %>
      <li class="collection-item avatar" data-cohort-name="<%= project.project_type %>" data-week="<%= project.week %>">
        <span class="title"><b>Topic:</b> <%= project.name%></span>
        <p><b>Student:</b> <%= project.group_members %></p>
        <p><b>Mod:</b> <%= project.project_type %></p>
        <p><b>Week:</b> <%= project.week %></p>
        <% if voting? %>
          <%= link_to "Edit Rating", edit_project_vote_path(id: project.votes.where(user_id: current_user.id).first.id, project_id: project.id), class: "waves-effect waves-light btn turing-btn" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
