<div class="col s12 m6">
  <div class="card grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= link_to lightning_talk.name.humanize, admin_lightning_talk_path(lightning_talk) %></span>
      <p>Number of Projects: <%= lightning_talk.number_of_projects %></p>
      <p>Current Status: <%= lightning_talk.status.humanize %></p>
    </div>
    <div class="card-action">
      <p class="white-text">Change status:</p>
      <% if lightning_talk.status != "accepting_submissions" %>
      <%= link_to "accept submissions", admin_lightning_talk_path(lightning_talk, lightning_talk: {status: :accepting_submissions}), method: :patch, class: "waves-effect waves-light btn turing-btn" %>
      <% end %>
      <% if lightning_talk.status != "voting" %>
      <%= link_to "open voting", admin_lightning_talk_path(lightning_talk, lightning_talk: {status: :voting}), method: :patch, class: "waves-effect waves-light btn turing-btn" %>
      <% end %>
      <% if lightning_talk.status != "closed" %>
      <%= link_to "close", admin_lightning_talk_path(lightning_talk, lightning_talk: {status: :closed}), method: :patch, class: "waves-effect waves-light btn turing-btn" %>
      <% end %>
    </div>
  </div>
</div>
