<div id="main-scoreboard">
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="col s12">
        <p>Please select a cohort:</p>
      </div>
      <%= form_for(:cohort, html: {class: "cohortSelector"}) do |f| %>
        <div class="input-field col s12">
          <%= f.select(:name, ["All Talks", "BE Mod 2", "BE Mod 3", "BE Mod 4", "FE Mod 2", "FE Mod 3", "FE Mod 4"], selected: 3) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <ul class="collection talks">
        <% projects.each_with_index do |project, index| %>
          <li class="collection-item avatar" data-cohort-name="<%= project.project_type  %>">
            <% if index < 9 %>
              <i class="material-icons circle turing-blue">filter_<%= index+1 %></i>
            <% else %>
              <i class="material-icons circle turing-blue">filter_9_plus</i>
            <% end %>
            <span class="title">Project Name: <b><%= project.name %></b></span>
            <p>Type: <b><%= project.project_type %></b></p>
            <p>Number of Votes: <b><%= project.number_of_votes %></b></p>
            <p>Score: <b><%= project.average_total %></b></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
