<div class="row">
  <div class="col l6 offset-l3 s10 offset-s1">
    <h1>Vote for <%= @project.name %></h1>
    <%= form_for([:project, @vote]) do |f| %>
      <div class="input-field col s12">
        <%= f.select(:representation, [1, 2, 3, 4, 5], selected: 3) %>
        <%= f.label :representation, "Community Representation" %>
      </div>
      <div class="input-field col s12">
        <%= f.select(:challenge, [1, 2, 3, 4, 5], selected: 3) %>
        <%= f.label :challenge, "Difficulty" %>
      </div>
      <div class="input-field col s12">
        <%= f.select(:wow, [1, 2, 3, 4, 5], selected: 3) %>
        <%= f.label :wow, "Wow Factor" %>
      </div>
      <div class="input-field col s12">
        <%= f.submit "Submit", class: "btn turing-btn waves-effect waves-light" %>
      </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('select').material_select();
})
</script>
