<!DOCTYPE html>
<html>
  <head>
    <title>Demonight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <script>
      var $toastConcent = $('<div class="<%= key %>"><%= value %></div>');
      Materialize.toast($toastConcent, 4000);
      </script>

    <% end %>
      <%= render partial: "/shared/navbar" %>
    <div class="main-container container">
      <%= yield %>
    </div>
    <script>
    $(".button-collapse").sideNav({ cloceOnClick: true });
    </script>
  </body>
</html>
